<div class="container">
  <div class="form-container">
    <div class="{{form-wrap}}">
      <form class="form">
        <span class="form-title"> {{title}}</span>
          {{> @partial-block }}
      </form>
    </div>
  </div>
</div>