.chat-container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.chat-text {
  font-family: Raleway-Bold, sans-serif;
  color: white;
  font-size: 25px;
}

.chat-wrap {
  padding-bottom: 30px;
  text-align: center;
  width: 500px;
  overflow: hidden;
}

.chat-text-wrap {
  padding-bottom: 25px;
}
