<div class="container">
    <div class="chat-container">
         <div class="chat-wrap">
             <div class="chat-text-wrap">
                <span class="chat-text">В разработке</span>
             </div>
            {{> link title="Назад к списку страниц"
                    link-wrap="link-wrap"
                    styles="link error-link"
                    href="/" background="error-link-bg"}}
         </div>
     </div>
</div>