<div class="account-container">
    <div class="account-button-container">
        {{> button  styles="button-account-form button-background-left-arrow" }}
    </div>
    <div class="account-form-container">
        {{> @partial-block }}
    </div>
</div>
