@font-face {
  font-family: Raleway-Regular;
  src: url("./static/fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: Raleway-Medium;
  src: url("./static/fonts/Raleway-Medium.ttf");
}

@font-face {
  font-family: Raleway-Bold;
  src: url("./static/fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: Raleway-SemiBold;
  src: url("./static/fonts/Raleway-SemiBold.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #1ec8be;
}

body,
html {
  height: 100%;
  font-family: Raleway-Regular, sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.container-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  flex-wrap: wrap;
  padding: 15px;
}

a {
  font-family: Raleway-Regular, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #171212;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #307cc7;
}

h1 {
  color: tomato;
}

input {
  outline: none;
  border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input:focus::placeholder {
  color: transparent;
}

input:focus {
  color: #000000;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

.ul-wrap {
  text-align: left;
  margin-right: auto;
  padding-left: 20px;
}
