:root {
  --screen-content-background: #fff;
  --button-background: #1ec8be;
  --button-background-purple: rgb(164 158 171 / 59%);
  --avatar-background: #1ec8be;
  --link-decor-marine: #1ec8be;
  --input-border: #1ec8be;
  --message-color: #fff;
}
