@import "../../variables.css";

.link {
  font-size: 18px;
}

.link-wrap {
  text-align: center;
}

.error-link-bg {
  background-image: url("../../../static/images/icons/go-back-line.svg");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position-y: top;
  background-position-x: center;
  min-height: 40px;
  cursor: pointer;
}

.error-link {
  text-decoration: none;
  font-family: Raleway-Medium, sans-serif;
}

.link-decor-red {
  color: tomato;
  text-decoration: none;
}

.link-decor-white {
  color: white;
  text-decoration: none;
}

.link-decor-marine {
  color: var(--link-decor-marine);
  text-decoration: none;
}

.link-decor-border {
  border-bottom: 2px solid rgb(170 169 173 / 24%);
}
