<div class="container">
    <div class="error-container">
        <div class="error-wrap">
            <span class="error-title"> {{ title }}</span>
            <span class="error-text"> {{ text }} </span>
            {{> link title="Назад к чатам"
                    link-wrap="link-wrap"
                    styles="link error-link"
                    href="/" background="error-link-bg"}}
        </div>
    </div>
</div>

